* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --primary-color: #121212;
  --secondary-color: #0891cc;
}

.app-container {
  display: flex;
  height: 100vh;
  background-color: black;
  color: white;
}
.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 6px;
  background-color: var(--primary-color);
  color: white;
  height: 98vh;
  width: 25vw;
  margin: 0.5rem;
  border: 1px solid rgba(143, 143, 143, 0.205);
}

.figure-beast-logo {
  width: 12rem;
}

.navigation ul {
  margin: 1.5rem 0rem;
  list-style: none;
  font-size: 1.5rem;
}

.navigation ul li {
  text-align: center;
  width: 24vw;
  padding: 2rem;
  margin: 1rem;
  background-color: var(--secondary-color);
  border-radius: 24px;
}

.navigation ul a {
  text-decoration: none;
  color: white;
}

.main-area {
  border: 1px solid rgba(143, 143, 143, 0.205);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 6px;
  background-color: var(--primary-color);
  color: white;
  height: 98vh;
  width: 75vw;
  margin: 0.5rem;
}

.main-area h1 {
  margin: 5.3rem;
  color: var(--secondary-color);
}

.main-area h2 {
  padding: 2rem;
  margin: -2rem;
}

.past-orders-list {
  width: 60vw;
  color: white;
}

.past-orders-list li {
  text-align: center;
  border-radius: 1.25rem;
  margin: 1rem;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  font-size: 1rem;
  height: 5vh;
}

.past-orders-list img {
  cursor: pointer;
  width: 1.8rem;
  margin-left: 2rem;
}

.create-order-button {
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8vh;
  text-align: center;
  width: 40vw;
  background-color: #252525;
  border: 2px dashed rgb(8, 145, 204);
  margin: 3rem;
  font-size: 1.4rem;
  color: white;
  cursor: pointer;
}

.create-order-button:hover {
  background-color: black;
}

.form-submit-button {
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6vh;
  text-align: center;
  width: 30vw;
  background-color: #252525;
  border: 2px solid rgb(8, 145, 204);
  margin: 2rem;
  font-size: 1.4rem;
  color: white;
  cursor: pointer;
}

.form-submit-button:hover {
  background-color: black;
}

form {
  display: none;
  flex-direction: column;
}

form input {
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6vh;
  text-align: center;
  width: 30vw;
  background-color: #252525;
  border: 2px solid rgb(8, 145, 204);
  margin: 2rem;
  font-size: 1.4rem;
  color: white;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

#success-message,
#failure-message {
  font-size: 1.4rem;
  display: none;
}

#success-message {
  color: rgb(0, 218, 0);
}

#failure-message {
  color: rgb(236, 0, 0);
}

table {
  width: 60vw;
  text-align: center;
}

table th {
  font-size: 1.5rem;
}

table td {
  font-size: 1rem;
}

table th,
table td {
  padding: 0.4rem;
}

tr:hover {
  background-color: black;
}

.page-link-container {
  display: flex;
}

.page-link {
  padding: 0 1rem;
  display: block;
  text-align: center;
  margin-top: 1rem;
  text-decoration: none;
  color: #0891cc;
}

p {
  padding: 0 1rem;
  display: block;
  text-align: center;
  margin-top: 1rem;
  color: #ffffff;
}

.sidebar-icon {
  display: none;
}

@media only screen and (max-width: 1273px) {
  .app-container,
  .main-area,
  .navigation {
    height: 150vh;
  }
}

@media only screen and (max-width: 873px) {
  .app-container,
  .main-area {
    width: 150vw;
  }

  table {
    width: 100vw;
  }

  .navigation li {
    font-size: 0px;
  }

  .sidebar-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
  }

  .navigation ul li {
    width: auto;
    padding: 0;
  }

  .figure-beast-logo {
    width: 6rem;
  }

  .past-orders-list {
    width: 100vw;
    color: white;
  }

  .past-orders-list li {
    margin: 1rem 0;
}

@media only screen and (max-width: 489px) {
  .app-container,
  .main-area,
  .navigation {
    height: 230vh;
  }

  .main-area h1 {
    margin: 4rem 0;
  }

  .past-orders-list {
    width: 100vw;
    color: white;
  }

  .past-orders-list li {
    margin: 1rem 0;
    height: 4rem;
  }
}
